{
  "$schema": "./project.schema.json",
  "language": "{{LANGUAGE}}",
  "base_branch": "{{PR_BASE_BRANCH}}",
  "branch_pattern": "{{BRANCH_PATTERN}}",
  "qa_gate_commands": {{QA_GATE_COMMANDS}},
  "story_points": {
    "scale": [1, 2, 3, 5, 8, 13, 21],
    "fast_threshold": 3,
    "full_threshold": 5,
    "gray_zone": 4
  }
}
